.block-wrapper {
  position: relative;
  cursor: grab;
  height: 100%;
}

.block {
  position: relative;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 16px;
  overflow: hidden;
  height: 100%;
}

.block h3 {
  margin-top: 0;
}

.block .delete {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  background: rgb(175, 166, 166);
  color: white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block:hover .delete {
  opacity: 1;
}

.chart-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.5rem;
  color: #666;
}

.block-content {
  width: 100%;
}

.text-block {
  font-size: 14px;
  line-height: 1.4;
  color: #444;
  overflow: auto;
}
