* {
  box-sizing: border-box;
}
html {
  background-color: #f5f6f8;
}
body {
  margin: 0;
  min-height: 100vh;
}

button {
  border: none;
  border-radius: 6px;
  padding: 8px 12px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background: #2e56af;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: background-color 0.25s;
  outline: none;
}

button:hover,
button:focus {
  opacity: 0.8;
  outline: none;
}

.toolbar {
  display: flex;
  gap: 12px;
  padding: 16px;
  max-width: 950px;
  margin: 0 auto;
  margin-top: 20px;
}
